body{
    margin: 0;
    align-items: center;
    text-align: center;
    height: 100vh;    
    background: linear-gradient(#464646,#050505);
    color: #ffffff;
    /*SITE FONT*/
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    cursor: crosshair;

}
#clickButton {
    transition: transform 0.2s;
    cursor: crosshair;
    max-width: 100%;
}
/*#clickButton:active {
    transform: scale(0.9);
}*/
/*#clickButton.animate:hover,*/
#clickButton.animate:active {
    transform: scale(0.9);
}
footer{
    font-size: 0.5em;
}
